<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="AppPath" value="C:\Users\edlo\source\repos\TaskManagement\TaskManagement\Gameserver\Bacc\"/>
      
      <!-- App列表 -->
      <add key="AppList" value="A,B,C,D,MS-A,MS-B,MS-C,MS-D,S-A,S-B,S-C,S-D" />      
      
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>