<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="AppPath" value="C:\Users\edlo\source\repos\TaskManagement\TaskManagement\Gameserver\"/>
      <!--<add key="AppPath" value="C:\Users\Nil\workspace\TaskManager\TaskManager\TaskManagement\GameServer\"/>-->

      <!-- Game列表 -->
      <add key="GameList" value="Bacc,InsuBacc,LongHu,Sicbo,Lunpan,Fantan,PokDeng,YXX" />
      <!-- 按鈕功能開/關 -->
      <add key="ButtonSwitch" value="true" />
      <!-- 執行檔名稱 -->
      <add key="ExecuteName" value="DemoApp" />
      
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>