<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="AppPath" value="C:\Users\edlo\source\repos\TaskManagement\TaskManagement\DemoApp\"/>
      
      <!-- App列表 -->
      <add key="AppList" value="DemoApp1,DemoApp2,DemoApp3,DemoApp4" />      
      
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>